@font-face {
    font-family: titulo;
    src: url('fonts/font-titulo/Curry\ Ramen.otf') format('opentype');
}
@font-face {
    font-family: letra;
    src: url('fonts/font-letra/OneSignature.otf') format('opentype');
}
header{
    background-color: black;
    height: 100px;
    color:white;
    text-align: center;
    font-family:titulo;
    padding: 28px 0px 28px 0px;
    width: 100%;
}

body{
    margin:0;
    padding:0;
}

#title{
    margin: 0;
    font-size:clamp(4em, 10vw, 6em);
    
  
}

#parte-superior{
    height: 1000px;
    background-color: lightcyan;
}

#parte-meio{
    height: 1000px;
    background-color: lightgreen;
}

#parte-inferior{
    height:1000px;
    background-color:lightgray
}

#imagem-cima{
    height: 1000px;
    background-image: url('imagens/imagem1.jpg');
    background-size: cover;
    background-attachment: fixed;
    position:relative;

}

#imagem-baixo{
    height:1000px;
    background-image: url('imagens/imagem2.jpg');
    background-size:cover;
    background-attachment: fixed ;
    position:relative;
    background-position: right center;
}

#p-img1{
    width: 60vw;
    height: 800px;
    max-width: 750px;
    text-align: left;
    padding: 20px;
    background-color:rgba(0, 0, 0, 0.607);
    font-size:clamp(4em, 8vw, 6.3em); 
    position: absolute;
    left: 3%;
    top:50%;
    transform: translate(0%, -61%);
    border-radius: 25px;
    color:white;
    background-position: left center;
    font-family:letra;
}

#p-img2{
    width: 60vw;
    height: 800px;
    max-width: 750px;
    text-align: justify;
    padding:20px;
    background-color: rgba(0, 0, 0, 0.607);
    font-size:clamp(4em, 8vw, 6.3em);
    position: absolute;
    left: 3%;
    top:50%;
    transform:translate(0%, -61%);
    border-radius: 25px;
    color:white;
    background-position: left center;
    font-family: letra;
}

footer{
    background-color: black;
    text-align: center;
    color:white;
    margin:0;
    font-family: cursive;
    padding: 7px;
}

#perfil-github{
    text-decoration: none;
    color:rgba(33, 192, 192, 0.75)

}

#perfil-github:hover{
    color:skyblue;
    text-shadow: 1px 1px 7px rgba(255, 255, 255, 0.400);

}

#site-estudonauta{
    text-decoration: none;
    color:lightgray
}

#site-estudonauta:hover{
    text-decoration: underline;
    color:skyblue;
}